*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  overflow-x:hidden;
}

.background{
  position:fixed;
  width:100%;
  height:100%;
  background:
    radial-gradient(circle at top left,#2563eb,transparent 35%),
    radial-gradient(circle at bottom right,#7c3aed,transparent 35%);
  filter:blur(100px);
  opacity:0.7;
}

.app{
  position:relative;
  width:95%;
  max-width:1300px;
  z-index:2;
  padding:20px 0;
}

.header{
  text-align:center;
  margin-bottom:30px;
}

.header h1{
  font-size:48px;
  font-weight:700;
  background:linear-gradient(90deg,#60a5fa,#c084fc);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.header p{
  color:#cbd5e1;
  margin-top:10px;
}

.translator{
  display:flex;
  gap:20px;
  align-items:stretch;
}

.panel{
  flex:1;
  height:70vh;
  min-height:420px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.1);

  backdrop-filter:blur(20px);

  border-radius:25px;

  padding:20px;

  display:flex;
  flex-direction:column;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.top h2{
  font-size:22px;
}

select{
  background:rgba(255,255,255,0.1);
  border:none;
  padding:10px 14px;
  border-radius:12px;
  color:white;
  outline:none;
}

option{
  color:black;
}

textarea{
  flex:1;
  width:100%;
  min-height:250px;

  background:transparent;
  border:none;
  outline:none;
  resize:none;

  color:white;

  font-size:20px;
  line-height:1.6;

  font-family:'Poppins',sans-serif;

  padding:10px;

  -webkit-user-select:text;
  user-select:text;
}

textarea::placeholder{
  color:#94a3b8;
}

.result{
  flex:1;
  font-size:20px;
  line-height:1.6;
  overflow-y:auto;
  padding:10px;
}

.buttons{
  display:flex;
  gap:10px;
  margin-top:15px;
}

button{
  border:none;
  padding:14px;
  border-radius:14px;
  color:white;
  cursor:pointer;
  font-size:15px;
  transition:0.3s;
}

button:hover{
  transform:translateY(-2px);
}

#mic{
  background:linear-gradient(135deg,#ef4444,#f97316);
}

#clear{
  background:#1e293b;
}

#speak{
  background:linear-gradient(135deg,#2563eb,#7c3aed);
}

#copy{
  background:#1e293b;
}

.swap-box{
  display:flex;
  align-items:center;
  justify-content:center;
}

#swap{
  width:65px;
  height:65px;
  border-radius:50%;
  font-size:24px;
  background:linear-gradient(135deg,#2563eb,#7c3aed);
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#7c3aed;
  border-radius:10px;
}

@media(max-width:900px){

  body{
    padding:20px 0;
  }

  .translator{
    flex-direction:column;
  }

  .swap-box{
    transform:rotate(90deg);
  }

  .panel{
    height:60vh;
  }

  .header h1{
    font-size:36px;
  }

  textarea,
  .result{
    font-size:18px;
  }

}